@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkblue: #00b2a0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto Condensed", sans-serif;
}
.caps {
  font-size: 200px;
  font-family: "Raleway";
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
