@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkblue: #00b2a0;
  --bggray: #f8f8f8;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
    --bggray: #f8f8f8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto Condensed", sans-serif;
}
.caps_mobile {
  font-size: calc(20px + 19vw);
  font-family: "Raleway";
}
.caps {
  font-size: calc(20px + 12vw);
  font-family: "Raleway";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
